<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="Logs/Alaris.log" layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}"/>
      <target name="console" xsi:type="Console" layout="${date:format=(HH\:mm\:ss.ffff)} [${level}] ${message}"/>

      <target xsi:type="ColoredConsole" name="cconsole"
              layout="${date:format=(HH\:mm\:ss.ffff)} [${level}] ${message}"
              useDefaultRowHighlightingRules="false">

        <highlight-row backgroundColor="NoChange" foregroundColor="White" condition="level == LogLevel.Info" />
        <highlight-row backgroundColor="NoChange" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
        <highlight-row backgroundColor="NoChange" foregroundColor="Gray" condition="level == LogLevel.Debug" />
        <highlight-row backgroundColor="NoChange" foregroundColor="Red" condition="level == LogLevel.Error" />
        <highlight-row backgroundColor="NoChange" foregroundColor="DarkGray" condition="level == LogLevel.Trace" />
        <highlight-row backgroundColor="NoChange" foregroundColor="DarkRed" condition="level == LogLevel.Fatal" />
      </target>

      
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="cconsole" />
    </rules>
</nlog>
